.cardblock{
    width: 1366px;
    height: 100%;
    position: relative;
    top: 1974px;
    left: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    column-gap: 150px;
    -webkit-column-gap: 150px;
    padding-top: 100px;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .cardblock{
        width: 100%;
        height: 100%;
        top: 3080px;
        padding-bottom: 30px;
        grid-template-columns: auto;
    }
}