.hammenu{
    visibility: hidden;
    width: 20px;
    height: 14px;
    background-color: black;
}

.a{
    width: 10px;
    background-color: #242120;
    border-radius: 4px;
}

.b{
    width: 10px;
    background-color: #242120;
    border-radius: 4px;
}

.c{
    width: 10px;
    background-color: #242120;
    border-radius: 4px;
}