.hero{
    position: absolute;
    width: 1366px;
    left: 0;
}

.herotext{
    position: absolute;
    top: 80px;
    left: 174px;
    transition: 2s;
}

.pre{  
width: 586px;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
letter-spacing: -0.02em;
color: #000000;
margin-bottom: 0;
margin-top: 0;
}

.p{
    margin-top: 0;
    margin-bottom: 0;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 31px;
letter-spacing: 0.02em;
color: #494949;
}

.testimonialimage1{
    position: absolute;
    width: 536px;
    height: 568px;
    left: 793px;
    top: 108px;
    background: url(../public/Testimonialimage1.png);
}

.subtract{
    position: absolute;
    width: 711px;
    height: 517px;
    right: 2px;
    top: 159px;
}


@media screen and (max-width: 600px) {
    .hero{
        width: 100%;
    }

   .herotext{
       width: 100%;
       top: 120px;
       left: 0;
       padding-left: 2%;
       font-size: 2rem;
   }

   .testimonialimage1{
       width: 100%;
    left: 0px;
    background-repeat: no-repeat;
    background-position-x: center;
    top: 408px;
   }

   .pre{
       width: 100%;
       font-size: 3rem;
       line-height: 40px;
   }

    .p{
        width: 100%;
        font-size: 1.2rem;
        line-height: 20px;
    }

   .subtract{
       width: 100%;
        top: 500px;
   }
}

@media screen and (max-width: 450px){
    .pre{
        font-size: 2.4rem;
    }

    .p{
        font-size: 1rem;
    }
}


@media screen and (max-width: 370px){
    .pre{
        font-size: 2.2rem;
    }

    .p{
        font-size: 0.9rem;
    }
}